:root { 
--gray_600:#707885; 
--bluegray_900:#14362e; 
--black_900:#000000; 
--bluegray_301:#999eb3; 
--bluegray_300:#9ea6ad; 
--bluegray_300_26:#9ea3b526; 
--white_A700:#ffffff; 
--gray_50:#f7fafc; 
--black_900_59:#00000059; 
--teal_A400:#24db99; 
}